.select_obj {
    .select_header_box {
        display: flex;
        align-items: center;
        height: 45px;
        .select_header {
            display: flex;
            margin-left: pr(12);
            width: pr(464);
            height: pr(32);
            background: #e3e3e5;
            border-radius: pr(4);
            align-items: center;
            justify-content: space-between;
            .select_box {
                position: relative;
                width: 56px;
                height: pr(32);
                line-height: pr(32);
                .select_default {
                    width: 56px;
                    height: 100%;
                    text-align: center;
                    color: #999;
                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAMAAADAMI+zAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEX///9dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY25dY27///8uqZX9AAAAFHRSTlMA5+OrpwOTjmz8+2hJ8vBGLdbSK35PS8AAAAABYktHRACIBR1IAAAAMklEQVQI12NgFIEDJgZmBIeFgZUNxmZnZWBg4OAEMbm4GcCAh1dEhI+fAQoEBIWEQTQAoJUDbNS7QAEAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTUtMDEtMjZUMTY6MTE6MzYrMDg6MDBa8kEXAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE1LTAxLTI2VDE2OjExOjM2KzA4OjAwK6/5qwAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=') no-repeat right pr(3) center;
                    background-size: pr(6) pr(3);
                }
                .select_option {
                    position: absolute;
                    left: 0;
                    top: pr(32);
                    width: pr(80);
                    height: 0;
                    text-align: center;
                    transition: all 0.6s;
                    overflow: hidden;
                    &>li {
                        margin-bottom: pr(2);
                        height: pr(30);
                        border-radius: 10px;
                        background: rgba(0,0,0,0.5);
                    }
                    &>li:active {
                        background: #999;
                    }

                }


            }
        }
        .select_button {
            text-align: center;
             flex-grow:1;
        }


    }

}
